@import "tailwindcss";

@theme {
  --color-primary: #0B1F3A;
  --color-secondary: #D9A441;
  --color-accent:  #0B1F3A;
  --color-gold: #D4AF37;
}
/* In your main CSS file or a dedicated custom CSS file */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; /* Tailwind color utility for track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #b8b9b9; /* Tailwind color utility for thumb */
  border-radius: 4px; /* Optional: add rounded corners */
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #7d7d7d ;
}