@import "tailwindcss";

@theme {
  --color-primary: #F4F6FA;
  --color-secondary: #1E1E1E;
  --color-accent: #00A6E0;
}
/* In your main CSS file or a dedicated custom CSS file */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; /* Tailwind color utility for track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #b8b9b9; /* Tailwind color utility for thumb */
  border-radius: 4px; /* Optional: add rounded corners */
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #7d7d7d ;
}